# Arduino Due udev rule
# Tired of trying to remember the /dev/port of the MMDVM?
#lsusb will show you what idProduct and idVendor to use below
# Bus 001 Device 004: ID 2341:003d Arduino SA
# Add this rule to /etc/udev/rules.d/
# your mmdvm will now always be /dev/mmdvm
# N4IRS 10/19/2016

# For a USB Device (Arduino Due)
SUBSYSTEMS=="usb", ATTRS{product}=="Arduino Due Prog. Port",    ATTRS{idProduct}=="003d", ATTRS{idVendor}=="2341", SYMLINK+="mmdvm", TAG+="systemd"

# For a serial device (DVMega)
# KERNEL=="ttyS2", SUBSYSTEM=="tty",    SYMLINK+="mmdvm"
