[Unit]
Description=MMDVMHost Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 7/10/2016 

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/MMDVMHost
Restart=always
RestartSec=3
ExecStart=/opt/MMDVMHost/MMDVMHost /opt/MMDVMHost/MMDVM.ini
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=network-online.target

