[Unit]
Description=MMDVMHost 60 seconds after boot
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 3/38/2016

[Timer]
OnBootSec=60sec

[Install]
WantedBy=multi-user.target
