[Unit]
Description=MMDVMHost Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 10/19/2016 
# The device name should point to the 
# port the mmdvm is plugged into.
# For USB ports (Arduino Due)
BindTo=dev-ttyACM0.device
After=dev-ttyACM0.device
# for serial ports (DVMega)
# BindTo=dev-ttyS2.device
# After=dev-ttyS2.device


[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/opt/MMDVMHost
ExecStart=/opt/MMDVMHost/MMDVMHost /opt/MMDVMHost/MMDVM.ini
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service
WantedBy=network-online.target




